vrf definition {{ vrf_name }}
 rd {{ rd_number }}
{%- if ipv4_en == True  %} 
 !
 address-family ipv4
  route-target export 100:1
  route-target import 100:1
 exit-address-family
{%- endif %}
{%- if ipv6_en == True  %} 
 !
 address-family ipv6
  route-target export 100:1
  route-target import 100:1
 exit-address-family
{%- endif %}